.CartImg{
    width: 30px;
    margin-right: 20px;
}

.oculto{
    display: none;
}

.buttonWidget {
    margin-top: 5px;
    appearance: none;
    background-color: rgb(181, 207, 199);
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }
  
  .buttonWidget:hover {
    background-color: rgb(181, 207, 199);
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .buttonWidget:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .buttonWidget:active {
    background-color: rgb(217, 233, 228);
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .buttonWidget:focus {
    outline: 1px transparent;
  }
  
  .buttonWidget:before {
    display: none;
  }
  
  .buttonWidget:-webkit-details-marker {
    display: none;
  }