
.NavBar {
    width: 100%;
    display: flex ;
    background-color: rgb(171, 216, 157);
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: rgb(69, 102, 84);
    justify-content: space-around;
    
}


.Categories {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(69, 102, 84);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
}

a{
    color: rgb(69, 102, 84);
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10px;
    margin-right: 10px;

}
a.Option {

    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(69, 102, 84);

}

a.Option:hover {
    color: rgb(40, 56, 47);
}

a.ActiveOption {
    color: rgb(40, 56, 47);
    text-decoration: underline;
}

a.ActiveOption:hover {
    color: rgb(40, 56, 47);
    text-decoration: underline;
}

.CartWinNavBar {
    
}