.btn_contador {
    text-align: center;
    background-color: #857b58;
    color: rgb(72, 124, 73);
    padding: 0.5rem;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    border-style: none;
    margin: 40px;
}

.btn_aCarrito {
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 48px;
    width: 280px;
    height: 48px;
    padding: 0 24px;
    background-color: #8d7d68;
    border: none;
    border-radius: 6px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
    cursor: pointer;
}